apiVersion: apps/v1
kind: Deployment
metadata:
  name: library
  namespace: bookify
spec:
  replicas: 1
  selector:
    matchLabels:
      app: library
  template:
    metadata:
      labels:
        app: library
    spec:
      containers:
      - name: library
        image: bookify_mine-library:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8081
        - containerPort: 50051
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 200m
            memory: 256Mi

---
apiVersion: v1
kind: Service
metadata:
  name: library
  namespace: bookify
spec:
  selector:
    app: library
  ports:
  - name: http
    protocol: TCP
    port: 8081
    targetPort: 8081
  - name: grpc
    protocol: TCP
    port: 50051
    targetPort: 50051
