apiVersion: v1
kind: Service
metadata:
  name: reviews
  namespace: bookify
spec:
  selector:
    app: reviews
  ports:
    - name: http
      port: 8082
      targetPort: 8082

    - name: grpc
      port: 50052
      targetPort: 50052
